@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
	*
	{
		font-family: Lato, Helvetica, Arial, sans-serif;
		@apply print:text-xs;
	}

	body
	{
		@apply flex justify-center items-center;
		@apply min-h-screen;
		background: lightblue;
	}

	#app
	{
		@apply lg:grid lg:grid-cols-3;
		@apply print:grid print:grid-cols-3;
		@apply m-1 lg:m-12 print:m-0;
		@apply bg-white;
	}

	@media screen
	{
		#app
		{
			@apply container;
			box-shadow: 0 35px 35px rgba(0, 0, 0, 0.1);
		}
	}
}
