@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
	*
	{
		font-family: Lato, Helvetica, Arial, sans-serif;
	}

	body
	{
		@apply flex justify-center items-center;
		@apply min-h-screen;
		background: lightblue;
	}

	#app
	{
		@apply container;
		@apply lg:grid lg:grid-cols-3;
		@apply m-1 lg:m-12;
		@apply bg-white;
		box-shadow: 0 35px 35px rgba(0, 0, 0, 0.1);
	}
}
